.Title h2 {
	color: #e9e9e9;
	font-size: 4.5rem;
	background-color: white;
	padding: 1rem;
}
.Title h3 {
	font-size: 2.2rem;
	color: #313235;
	background-color: white;
	padding: 1rem;
}

.Title h3::before {
	background-color: white;
	content: url("../../images/Flower.svg");
	display: inline;
	margin-right: 0.5rem;
}

.Title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 2vw 12vw;
	position: relative;
}
.seperator {
	height: 1px;
	width: 70%;
	background-color: black;
	position: absolute;
	z-index: -100;
}
