@font-face {
	font-family: Nunito;
	src: url(./fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Nunito;
	display: flex;
	flex-direction: column;
}
